section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero  {
    width: 80%;
    justify-content: center;
    align-items: center;
    border: 1px solid #1E9D42;
    margin-top: 10px;
    padding: 30px 10px;
}
.infos {
    padding-top: 35px;
    padding-bottom: 100px;
}
.contact-inf {
    background: #000000CC;
    width: 40%;
    padding: 30px;
    height: 504px;
    overflow: hidden;
}
.phone {
    display: flex;
    gap: 1.7rem;
    align-items: center;
}
.phone p {
    padding-top: 17px;
}
.sub-col {
    color: #C9C9C9;
}
.social,
.bottom {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}
.elipse {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    border: 3px solid blue;
    margin: 0;
}
.el {
    height: 70px;
}
.el1 {
    height: 140px;
    position: absolute;
    bottom: 0;
}
.social ul  {
    list-style: none;
    gap: 0.5rem;
    padding: 0;
}
.social ul li a img {
   /*  color: ; */
    background-color: #1B1B1B;
    padding: 10px;
    height: 30px;
    border-radius: 50%;
}