section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero  {
    width: 80%;
    justify-content: center;
    align-items: center;
}
.contact-inf {
    background: #000000CC;
    width: 40%;
    padding: 30px;

}
.sub-col {
    color: #C9C9C9;
}