section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero  {
    width: 80%;
    justify-content: center;
    align-items: center;
}
.infos {
    padding-top: 70px;
    padding-bottom: 70px;
}
.contact-inf {
    background: #000000CC;
    width: 40%;
    padding: 30px;
    height: 554px;
}
.phone {
    display: flex;
    gap: 1.7rem;
    align-items: center;
}
.phone p {
    padding-top: 17px;
}
.sub-col {
    color: #C9C9C9;
}
.social,
.bottom {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    align-items: flex-start;
    border: 3px solid yellow;
}
.social ul  {
    list-style: none;
    gap: 0.5rem;
    padding: 0;
}
.social ul li a img {
    color: white;
    background-color: #1B1B1B;
    padding: 10px;
    height: 30px;
    border-radius: 50%;
}