* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;600;700;800&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@300;400;500;600;700&family=Manrope:wght@200;500;600;700&family=Playfair+Display:wght@600;700&display=swap');

/* Global styling */

.pri-col {
    color: #5ED680;
}

.sec-col {
    color: #1E9D42;
}

.pri-bg-col {
    background-color:  rgba(0, 0, 0, 0.80);
}


/* Header styling */
.nav-link {
    transition: border-bottom 0.4s all ease-in-out;
    border-bottom: 2px solid transparent !important;
    padding-bottom: 2px !important
    
}
.nav-link:hover,
.nav-link:active {
    border-bottom-color: #5ED680 !important;
    color:#5ED680 !important;
    transition: border-bottom 0.5s all ease-in-out !important;
}
.nav-link:hover {
    border-bottom-width: 5% !important;
}
.nav-btn {
    font-size: 14px;
    transition: font-size 0.3s ease !important;
}
.nav-btn:hover {
    font-size:16px !important;
    transition: font-size 0.3s ease !important;
}
/* Newsletter styling*/
.input-container {
    position: relative;
}
.input-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 75%;
    width:30%;
    border-radius: 99px;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 9px;
    color: white;
    background-color: #5ED680;
    
}
input:focus {
    outline: none;
}


.sms-icon {
    position: absolute;
    top: 37%;
    left: 4%;

}
/* copyright styling */

.right-copyright {
    display: flex;
    margin-top: -18%;
    margin-right: -220%;
}


.second {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}
.bold {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: #5ED680;

}

/* accordion styling */
.accordion {
    width: 100%;
    max-height: 100%;
    background-color: #323232;
    margin: 0 15px;
    padding:  50px;
    border-radius: 20px;
    margin-bottom: 40px;
    
}
.accordion  .accordion-content {
    
    border-left: 2px solid white;
    overflow-y: hidden;
    margin-bottom: 5px;
    width: 100%;
    margin-bottom: 40px;
}

.accordion-content.open {
    padding-bottom: 10px;
}
.accordion-content header {
    min-height: 50px;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.6 linear;
}
.accordion-content.open header {
    min-height: 50px;
}
.accordion-content header i {
    font-size: 15px;
    color: white;
    float: right;
}
.accordion-content header .title {
    font-size: 15px;
    font-weight: 700;;
    color: #5ED680;
}
.accordion-content .description{
    padding: 0 15px;
    font-size: 17px;
    color:white ;
    height: 0;
    font-weight: 400;
    transition: all 0.2s;
    margin-bottom: 0;

}

/* Images styling */
.relative {
    position: relative;
    top: 0;
    left: 15%;
}
.asolo {
    position: absolute;
    top: 2%;
    left: 20%;
}
.rela {
   position: relative;
   top: 70%;
   left: 50%;
   margin-top: 40px;
}
.aso {
    position: absolute;
    top: 160%;
    left: 15%;
}
.relat {
    position: relative;
    top: 0;
    left: 0;
}
.asolob {
    position: absolute;
    top: 0;
    left: 10%;
}
.down_sec {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
h2{
    font-size: 25px;
    font-weight: 900;
}
.down_sec p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 450;
}
/* button styling */
.button {
    padding: 15px 70px;
    outline: solid #5ED680 1px;
    border-radius: 15px;
}
.small-button {
    text-decoration: none;
    text-align: center;
    color: #5ED680;
    font-size: 18px;
}
.small-button:hover {
    background-color: #5ED680;
    color: white;
}

/* mobile view */

@media only screen and (max-width: 659px) {
    html,body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    .bold {
        color: #333;
        font-size: 60px;
    }
    .accordion {
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    .accordion-content header .title {
        font-size: 18px;
    }
    .accordion-content .description{
        transition: all 0.5s;
    
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Header section */
    .cendme-title {
        position: relative;
        right:10%;
    }
    .border-lenght {
        margin-top:15px;
    }
    .nav-link:hover {
        width: 10%;
    }
    .contact-nav-link:hover {
        width:20%;
    }
    
    .nav-btn {
        margin-top:20px;
    }

    /*Newsletter section */
    .newsletter-sec {
        height: 40vh;
       /* background-color: rgb(54, 54, 54);*/
       background-color: #000000CC;
    }
    .newsletter-header {
        width: 100% !important;
        position: relative;
        left: -20%;
        margin-top: 15% !important;
    }
    .input-container {
        width: 70% !important;
        left: -10%;
    }

    /* Footer section */
    .third-footer-col {
        position: relative;
        left: -3%;
    }
    .copyright-nav {
        width: 60% !important;
        margin-left: 21% !important;
        opacity: 0.7;
    }
    .copyright-text {
        margin-left: -110%;
        margin-top: 14%;
    }
}

@media only screen and (max-width: 767px) {

    /* header section */
    .cendme-title {
        position: relative;
        right: 22%;
    }

    .border-lenght {
        margin-top: 15px;
    }

    .nav-link:hover {
        width: 12%;
    }
    .contact-nav-link:hover {
        width:24%;
    }
    .nav-btn {
        margin-top: 20px;
    }

    /* newsletter section */
    .newsletter-sec {
        height: 70vh;
        background-color: rgb(54, 54, 54) !important;
        
    }

    .wave-sec {
        height: 20vh;
    }
    .newsletter-header {
        width: 150% !important;
        position: relative;
        left: -45%;
        font-size:28px !important;
        padding-right:40px;
        padding-left: 40px;
        padding-top: 40px;
        line-height: 40px !important;
        
    }
    .input-container {
        width:140% !important;
        left: -45%;
        
    }
    .input-email {
        padding-left: 45px !important;
    }
    .input-button {
       width:40%;
    }


    /* Footer section */
    .get-things-done {
        width: 90% !important;
    }
    .first-footer-col {
        margin-top: -40%;
        margin-left: -15%;
        
    }
    .first-footer-icons {
        position: relative;
        left: -15%;
    }
    .sec-footer-col {
        position: relative;
        left: -19%;
        top: -5%;
    }
    .third-footer-col {
        position: relative;
        left: -19%;
        top: -20%;
    }
    .copyright-nav {
        margin-top: -10% !important;
        padding-left: 15px !important; 
        column-gap: 50% !important;
        margin-left: 16% !important;
        opacity: 0.7;
        white-space: nowrap;
        width:68% !important;
        text-align: center;
    }
    
    .copyright-text {
        margin-left: -111%;
        margin-top: 60px;
    }
} 






