@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}

#features {
    .pri-col {
        color: #5ED680;
    }
    
    .sec-col {
        color: #1E9D42;
    }

    .h1-font {
        font-size: 70px;
    }

    .logo-features {
        font-size: 45px;
    }

    .feature-para {
        font-size: 30px;
        line-height: 38.73px;
    }

    .main-feature-h {
        font-size: 24px;
        line-height: 35.05px;
    }

    .main-feature-p {
        font-size: 16px;
        line-height: 19.36px;
    }

    .card-para {
        font-size: 16px;
        line-height: 19.36px;
    }

    .card {
        background-color: #92E3A933;
    }

    .download-buttons {
        cursor: pointer;
    }

/* media querry */

@media (max-width: 430px) {
    .cendme-image {
        width: 400px;
        height: auto;
    }  
    
    .listed-items {
        /* font-size: 16px !important; */
    }
}