@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}

#features {

    .pri-col {
        color: #5ED680;
    }
    
    .sec-col {
        color: #1E9D42;
    }

    .h1-font {
        font-size: 70px;
    }

    .logo-features {
        font-size: 45px;
    }

    .feature-para {
        font-size: 30px;
        line-height: 38.73px;
    }

    .main-feature-h {
        font-size: 24px;
        line-height: 35.05px;
    }

    .main-feature-p {
        font-size: 16px;
        line-height: 19.36px;
    }

    .card-para {
        font-size: 16px;
        line-height: 19.36px;
    }

    .download-buttons {
        cursor: pointer;
    }

    

}
.fixed-nav {
    padding-top: 70px !important;
}


/* Header styling */

.nav-link {
    transition: border-bottom 0.4s all ease-in-out;
    border-bottom: 2px solid transparent !important;
    padding-bottom: 2px !important
    
}
.nav-link:hover,
.nav-link:active {
    border-bottom-color: #5ED680 !important;
    color:#5ED680 !important;
    transition: border-bottom 0.5s all ease-in-out !important;
}
.nav-link:hover {
    border-bottom-width: 5% !important;
}
.nav-btn {
    font-size: 14px;
    transition: font-size 0.3s ease !important;
}
.nav-btn:hover {
    font-size:16px !important;
    transition: font-size 0.3s ease !important;
}

/* Newsletter styling*/
.input-container {
    position: relative;
}
.input-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 75%;
    width:30%;
    border-radius: 99px;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 9px;
    color: white;
    background-color: #5ED680;
    
}
input:focus {
    outline: none;
}


.sms-icon {
    position: absolute;
    top: 37%;
    left: 4%;

}
/* copyright styling */

.right-copyright {
    display: flex;
    margin-top: -18%;
    margin-right: -220%;
}



/* Mobile responsiveness*/

@media only screen and (max-width: 767px) {

    /* header section */
    .cendme-title {
        position: relative;
        right: 22%;
    }

    .border-lenght {
        margin-top: 15px;
    }

    .nav-link:hover {
        width: 12%;
    }
    .contact-nav-link:hover {
        width:24%;
    }
    .nav-btn {
        margin-top: 20px;
    }

    /* newsletter section */
    .newsletter-sec {
        height: 70vh;
        background-color: rgb(54, 54, 54) !important;
        
    }

    .wave-sec {
        height: 20vh;
    }
    .newsletter-header {
        width: 150% !important;
        position: relative;
        left: -45%;
        font-size:28px !important;
        padding-right:40px;
        padding-left: 40px;
        padding-top: 40px;
        line-height: 40px !important;
        
    }
    .input-container {
        width:140% !important;
        left: -45%;
        
    }
    .input-email {
        padding-left: 45px !important;
    }
    .input-button {
       width:40%;
    }


    /* Footer section */
    .get-things-done {
        width: 90% !important;
    }
    .first-footer-col {
        margin-top: -40%;
        margin-left: -15%;
        
    }
    .first-footer-icons {
        position: relative;
        left: -15%;
    }
    .sec-footer-col {
        position: relative;
        left: -19%;
        top: -5%;
    }
    .third-footer-col {
        position: relative;
        left: -19%;
        top: -20%;
    }
    .copyright-nav {
        margin-top: -10% !important;
        padding-left: 15px !important; 
        column-gap: 50% !important;
        margin-left: 16% !important;
        opacity: 0.7;
        white-space: nowrap;
        width:68% !important;
        text-align: center;
    }
    
    .copyright-text {
        margin-left: -111%;
        margin-top: 60px;
    }
    .cendme-image {
        width: 350px;
        height: 255.11px;
    }   

    .download-buttons {
        width: 160.96px;
        height: 50.5px;
    }

    .para-mobile {
        text-align: center;
    }
    
} 


/* Tablet responsiveness */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Header section */
    .cendme-title {
        position: relative;
        right:10%;
    }
    .border-lenght {
        margin-top:15px;
    }
    .nav-link:hover {
        width: 10%;
    }
    .contact-nav-link:hover {
        width:20%;
    }
    
    .nav-btn {
        margin-top:20px;
    }

    /*Newsletter section */
    .newsletter-sec {
        height: 40vh;
       /* background-color: rgb(54, 54, 54);*/
       background-color: #000000CC;
    }

    .newsletter-header {
        width: 100% !important;
        position: relative;
        left: -20%;
        margin-top: 15% !important;
    }
    .input-container {
        width: 70% !important;
        left: -10%;
    }

    /* Footer section */
    .third-footer-col {
        position: relative;
        left: -3%;
    }
    .copyright-nav {
        width: 60% !important;
        margin-left: 21% !important;
        opacity: 0.7;
    }
    .copyright-text {
        margin-left: -110%;
        margin-top: 14%;
    }
}

/*  swiper style */
.swiper-slide .card {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    background-color: #92E3A933;
    /* text-align: center; */
    border: none;    
}

.card p {
    font-size: 16px;
}

.card .image {
    width: 248px;
    margin: 0 auto;
    /* height: 175px; */
}

.card .bro-image {
    width: 205px;
    height: 105.64;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  font-size: 30px !important;
  display: none;
}