@import './sections/how-it-works.css';

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;600;700;800&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@300;400;500;600;700&family=Manrope:wght@200;500;600;700&family=Playfair+Display:wght@600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

/* Global styling */
.pri-col {
    color: #5ED680 !important;
}

.sec-col {
    color: #1E9D42 !important;
}

.pri-bg-col {
    background-color: rgba(0, 0, 0, 0.80);
}

/* End Global Styling */
/* Header styling */
.active {
    transition: all ease-in-out 0.5s;
}

.nav-transition {
    transition: all ease-in-out 0.5s;
}

.nav-transition li:hover {
    color: #1E9D42;
    border-bottom: 1px solid #5ED680;
    transition: all ease-in-out 0.2s;
}

.nav-bt .btn:hover {
    background-color: transparent !important;
}

.nav-link {
    transition: border-bottom 0.4s all ease-in-out;
    border-bottom: 2px solid transparent !important;
    padding-bottom: 2px !important
}

.nav-link:hover,
.nav-link:active {
    border-bottom-color: #5ED680 !important;
    color: #5ED680 !important;
    transition: border-bottom 0.5s all ease-in-out !important;
}

.nav-link:hover {
    border-bottom-width: 5% !important;
}

.nav-btn {
    font-size: 14px;
    transition: font-size 0.3s ease !important;
}

.nav-btn:hover {
    font-size: 16px !important;
    transition: font-size 0.3s ease !important;
}

/* fixed navigation */
/* header {
    position: fixed;
    right: 0%;
    z-index: 1000;
    width: 100%;
    background-color: white;
} */

.fixed-nav {
    padding-top: 5rem;
}

.fixed-nav-contact {
    z-index: 2;
    padding-top: 100px !important;
}

/* Newsletter styling*/
.input-container {
    position: relative;
}

.input-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 75%;
    width: 30%;
    border-radius: 99px;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 9px;
    color: white;
    background-color: #5ED680;
}

input:focus {
    outline: none;
}

.sms-icon {
    position: absolute;
    top: 37%;
    left: 5%;
}

/* copyright styling */
footer {
    position: relative;
}

.right-copyright {
    display: flex;
    margin-top: -16%;
    margin-right: -220%;
}

.vid-btn {
    margin-top: 70px;
}

/* Mobile responsiveness*/
@media only screen and (max-width: 767px) {

    /* header section */
    .cendme-title {
        position: relative;
        right: 22%;
    }

    .border-lenght {
        margin-top: 15px;
    }

    .nav-link:hover {
        width: 12%;
    }

    .contact-nav-link:hover {
        width: 24%;
    }

    .nav-btn {
        margin-top: 20px;
    }

    /* newsletter section */
    .newsletter-sec {
        /* height: 70vh; */
        background-color: #333333 !important;
    }

    .wave-sec {
        height: 20vh;
        margin-top: 0px;
    }

    .newsletter-header {
        width: 100% !important;
        position: relative;
        font-size: 28px !important;
        /* padding-right:40px;
        padding-left: 40px; */
        padding-top: 40px;
        line-height: 40px !important;
    }

    .newsletter-header br {
        display: none;
    }

    .input-container {
        width: 140% !important;
        left: -45%;
    }

    .input-email {
        padding-left: 45px !important;
    }

    .input-button {
        width: 40%;
    }

    /* Footer section */
    .get-things-done {
        width: 90% !important;
    }

    .first-footer-col {
        margin-top: -40%;
        margin-left: -15%;
    }

    .first-footer-icons {
        position: relative;
        left: -15%;
    }

    .sec-footer-col {
        position: relative;
        left: -19%;
        top: -5%;
    }

    .third-footer-col {
        position: relative;
        left: -19%;
        top: -20%;
    }

    .copyright-nav {
        margin-top: -10% !important;
        padding-left: 15px !important;
        column-gap: 50% !important;
        margin-left: 16% !important;
        opacity: 0.7;
        white-space: nowrap;
        width: 68% !important;
        text-align: center;
    }

    .copyright-text {
        margin-left: -111%;
        margin-top: 60px;
    }
}

/* Tablet responsiveness */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Header section */
    .cendme-title {
        position: relative;
        right: 10%;
    }

    .border-lenght {
        margin-top: 15px;
    }

    .nav-transition li:hover {
        width: 12%;
    }

    .nav-link:hover {
        width: 10%;
    }

    .contact-nav-link:hover {
        width: 20%;
    }

    .nav-btn {
        margin-top: 20px;
    }

    /*Newsletter section */
    .newsletter-sec {
        height: 40vh;
        /* background-color: rgb(54, 54, 54);*/
        background-color: #000000CC;
    }

    .newsletter-header {
        width: 100% !important;
        position: relative;
        left: -20%;
        margin-top: 15% !important;
    }

    .input-container {
        width: 70% !important;
        left: -10%;
    }

    /* Footer section */
    .third-footer-col {
        position: relative;
        left: -3%;
    }

    .copyright-nav {
        width: 60% !important;
        margin-left: 21% !important;
        opacity: 0.7;
    }

    .copyright-text {
        margin-left: -110%;
        margin-top: 14%;
    }
}

/* 
    Please make sure you indicate using comments, the area or section you are styling
    Don't style inside another contributor's section.
 */
/* Hero styling */
.rec-52 {
    width: 81%;
    position: relative;
}

/* .rec-52-mobile { 
    display: none;
 } */
.rec-53 {
    position: absolute;
    width: 1050px;
}

.video-btn {
    bottom: 140px;
    left: 50%;
    rotate: -5deg;
}

.btn-container {
    width: 10%;
    height: 15%;
    border-radius: 30px;
    border: 1px solid;
}

/* Mobile responsiveness*/
@media only screen and (max-width: 767px) {
    .container {
        height: auto;
    }

    .rec-53 {
        display: none;
    }

    .hero-left h1 {
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        font-weight: 800;
    }

    .hero-left p {
        text-align: center;
        font-size: 20px;
        padding-right: auto;
        padding-top: 10px;
    }

    .hero-apps {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .reviews-container {
        position: absolute;
        transform: scale(0.3);
    }

    .hero-right {
        margin-left: 0;
    }

    .vid-btn {
        margin-top: 190%;
    }
}

/* 
 testimonial section
  */
.costumer-info {
    background-color: #1E9D42;
    color: white;
    /* width: 274px;
    height: 59px; */
    padding: 5px;
    /* margin: 2rem !important; */
}

.manrope-font {
    font-family: 'Manrope', sans-serif !important;
}

.rating-sect {
    font-family: 'Manrope', sans-serif !important;
    font-size: 18px;
    opacity: 60%;
}

/* end of testimonial section */
/* CendMe lifesaver section beginning */
.main_cover_section {
    display: flex;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.svg_line {
    position: absolute;
    left: 170px;
    top: 30px;
    width: 65%;
}

.container_hold_line_text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* left: 150px;  */
    top: 10px;
    padding-left: 170px;
}

.sub_container_hold_line_text {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.text_info_and_line_container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.background_image_section {
    position: absolute;
    bottom: 0;
    right: -106px;
}

.background_image_section img {
    width: 90%;
    height: auto;
}

/* Swipper part */
.swipper_area_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    padding: 20px;
}

.inside_swipper_left_side {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.inside_swipper_right_side {
    background-color: #1E9D42;
    color: #fff;
    padding: 5px 46px;
    border-radius: 8px;
}

@media screen and (max-width: 1075px) {
    .svg_line {
        position: absolute;
        left: 63px;
        top: 105px;
        width: 65%;
    }

    .container_hold_line_text {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        /* left: 150px; */
        top: 10px;
        padding-left: 56px;
        z-index: 999;
    }

    .text_info_and_line_container {
        width: 65%;
        height: 74%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        justify-content: center;
        align-items: center;
        padding: 18px;
        margin-top: 66px;
    }

    .text_info_and_line_container div {
        font-size: 18px !important;
    }

    .background_image_section {
        position: absolute;
        bottom: 0;
        right: -165px;
    }

    .background_image_section img {
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width: 987px) {
    .svg_line {
        display: none;
    }

    .container_hold_line_text {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        /* left: 150px; */
        top: 10px;
        padding-left: 0px;
        z-index: 999;
    }

    .background_image_section {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .background_image_section img {
        width: 100%;
        height: auto;
    }

    .inside_swipper_left_side {
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }

    .inside_swipper_right_side {
        background-color: #1E9D42;
        color: #fff;
        padding: 8px 25px;
        border-radius: 8px;
    }

    .inside_swipper_left_side button {
        padding: 5px !important;
    }

    .text_info_and_line_container {
        width: 100%;
        height: 74%;
        display: flex;
        flex-direction: column;
        gap: 16px !important;
        justify-content: start;
        align-items: center;
        padding: 18px;
        margin-top: 0px;
    }

    .sub_container_hold_line_text {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .mobile_response_testimonial {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 428px) {
    .slider_button {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .text_info_and_line_container {
        width: 100%;
        height: 74%;
        display: flex;
        flex-direction: column;
        gap: 7px !important;
        justify-content: start;
        align-items: center;
        padding: 18px;
        margin-top: 0px;
    }

    .svg_quote {
        width: 24px !important;
    }

    .mobile_response_testimonial {
        font-size: 13px !important;
    }

    .tx-testimonial {
        font-size: 16px !important;
        font-weight: bolder;
    }

    .swipper_area_container {
        padding: 0px !important;
    }
}

/* CendMe lifesaver section ending */
.faq-section {
    padding-top: 120px;
    padding-bottom: 90px;
}

.faq-section .img-cont {
    margin-top: 32px;
}

.faq-section .img-cont img {
    width: 80%;
}

.faq-section .accordion {
    height: 80%;
    overflow: auto;
}

.faq-section .header h1,
.faq-section .header .second {
    text-align: left;
    margin: 0;
    width: 100%;
}

@media (max-width: 1024px) {
    .faq-section .img-cont {
        text-align: center;
    }

    .faq-section .img-cont img {
        width: 100%;
    }

    .faq-section .accordion {
        height: 100%;
        margin: 0;
    }

    .faq-section .header h1,
    .faq-section .header .second {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .faq-section .img-cont img {
        width: 80%;
    }
}

@media only screen and (max-width: 1024px) {
    .container-sm {
        width: unset;
    }

    /* .rec-52 {  
         display: none; 
    }
    
    .rec-53 {
        display: none;
    } */
    .angles {
        display: none;
    }

    .rec-52-mobile {
        background-image: url("../Assets/IMG/Rectangle52mobile.png") !important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 94% !important;
        height: 80% !important;
    }

    .hero-left h1 {
        text-align: center;
        font-size: 28px;
        line-height: 30px;
        font-weight: 800;
    }

    .hero-left {
        padding-left: 0 !important;
    }

    .div {
        padding-right: 1rem !important;
    }

    .hero-left p {
        text-align: center;
        font-size: 18px;
        line-height: 18px;
        padding-right: auto;
        padding-top: 10px;
    }

    .hero-apps {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .hero-apps img {
        width: 48%;
    }

    .reviews-container {
        position: absolute;
        transform: scale(0.6);
        right: -10px;
    }

    .hero-right {
        width: 60%;
        height: 60%;
        margin: auto;
    }

    .vid-btn {
        width: 30px;
        margin-top: 428px;
    }

    .vid-btn i {
        font-size: 12px !important;
    }

    .vid-btn img {
        width: 100%;
    }
}