* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;600;700;800&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@300;400;500;600;700&family=Manrope:wght@200;500;600;700&family=Playfair+Display:wght@600;700&display=swap');

/* Global styling */

.pri-col {
    color: #5ED680;
}

.sec-col {
    color: #1E9D42;
}

.pri-bg-col {
    background-color:  rgba(0, 0, 0, 0.80);
}

/* End Global Styling */


/* Header styling */
.active {
    transition: all ease-in-out 0.5s;
}
.nav-transition {
    transition: all ease-in-out 0.5s;
}

.nav-transition li:hover {
    background-color:#5ED680;
    transition: all ease-in-out 0.2s;
    border-radius: 25px;
    padding: 3px 12px;
}

/* Newsletter styling*/
.input-container {
    position: relative;
}
.input-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 80%;
    width:30%;
    border-radius: 40px;
    border: none;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-right: 7px;
    color: white;
    background-color: #1E9D42;

}
input:focus {
    outline: none;
}


.sms-icon {
    position: absolute;
    top: 35%;
    left: 3%;

}
/* copyright styling */

.right-copyright {
    position: absolute;
    right: 15%;
    bottom: -60%;
    font-size: 14px;
}



/* Mobile responsiveness*/

@media only screen and (max-width: 767px) {

    /* header section */
    .cendme-title {
        position: relative;
        right: 22%;
    }

    .border-lenght {
        margin-top: 15px;
    }

    .nav-transition li:hover {
        width: 25%;
    }

    /* newsletter section */
    .newsletter-sec {
        height: 70vh;
        background-color: rgb(54, 54, 54) !important;
        
    }

    .wave-sec {
        height: 20vh;
    }
    .newsletter-header {
        width: 100% !important;
        position: relative;
        left: -20%;
    }
    .input-container {
        width: 130% !important;
        left: -39%;
    }
    .input-email {
        padding-left: 40px !important; 
    }

    /* Footer section */
    .first-footer-col {
        margin-top: -50%;
        margin-left: -38%;
    }
    .first-footer-icons {
        position: relative;
        left: -35%;
    }
    .sec-footer-col {
        position: relative;
        left: -35%;
        top: -5%;
    }
    .third-footer-col {
        position: relative;
        left: -35%;
        top: -20%;
    }
    .copyright-nav {
        width: 100% !important;
        position: relative;
        left: -15%;
        margin-top: -10% !important;
    }
    .copyright-text {
        position: relative;
        top: -60%;
        left: -15%;
        margin-top:50px !important;
    }
} 


/* Tablet responsiveness */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Header section */
    .cendme-title {
        position: relative;
        right:10%;
    }
    .border-lenght {
        margin-top:15px;
    }
    .nav-transition li:hover {
        width:12%;
    }

    /*Newsletter section */
    .newsletter-sec {
        height: 40vh;
       /* background-color: rgb(54, 54, 54);*/
       background-color: #000000CC;
    }
    .newsletter-header {
        width: 100% !important;
        position: relative;
        left: -20%;
        margin-top: 15% !important;
    }
    .input-container {
        width: 70% !important;
        left: -10%;
    }

    /* Footer section */
    .third-footer-col {
        position: relative;
        left: -3%;
    }
    .copyright-nav {
        width: 60% !important;
    }
    .copyright-text {
        position: absolute;
        right: -13%;
        margin-top: -5% !important;
    }
}