.swiper-slide .card {
    width: 290px;
    height: 400px;
    border-radius: 10px;
    background-color: #92E3A933;
    /* text-align: center; */
    border: none;    
}

.card p {
    font-size: 16px;
}

.card .image {
    width: 248px;
    /* height: 175px; */
}